.root {
	display: flex;
	flex-grow: 1;
	margin-top: 32px;
}

.root .poster {
	flex: 0 0 50px;
	aspect-ratio: var(--poster-aspect-ratio);
	border-radius: var(--border-radius);
	margin-right: 8px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--background-secondary);
	background-position: center;
}

.root .details {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.root .details h3 {
	line-height: 1.2;
	max-width: 150px;
	margin-bottom: 4px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.root .details .episode {
	color: var(--text-secondary);
	margin-bottom: 4px;
}

.root .details .actions {
	margin-top: auto;
	visibility: hidden;
	font-size: 1.2em;
	color: var(--text-secondary);
}

[data-editing='on'] .root:hover .details .actions {
	visibility: visible;
}

.root .details .actions svg {
	cursor: pointer;
	margin-right: 4px;
}
