.scheduleSeries {
	display: flex;
	flex-grow: 1;
	margin-top: 32px;
}

.scheduleSeries .poster {
	flex: 0 0 50px;
	margin-right: 8px;
}

.scheduleSeries .details {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.scheduleSeries .details h3 {
	line-height: 1.2;
	max-width: 150px;
	margin-bottom: 4px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.scheduleSeries .details .episode {
	color: var(--text-secondary);
	margin-bottom: 4px;
}

.scheduleSeries .details .actions {
	margin-top: auto;
	visibility: hidden;
	font-size: 1.2em;
	color: var(--text-secondary);
}

[data-editing='on'] .scheduleSeries:hover .details .actions {
	visibility: visible;
}

.scheduleSeries .details .actions svg {
	cursor: pointer;
	margin-right: 4px;
}
