.root {
	aspect-ratio: var(--poster-aspect-ratio);
	border-radius: var(--border-radius);
	background-color: var(--background-secondary);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
