.root {
	aspect-ratio: var(--poster-aspect-ratio);
	border-radius: var(--border-radius);
	background-color: rgba(0, 0, 0, 0.25);
	position: relative;
	overflow: hidden;
}

.root img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	visibility: hidden;
}
