.root .items {
	display: flex;
	margin-bottom: 64px;
}

.root .items a {
	margin-right: 16px;
}

.root .items .poster {
	width: 175px;
	aspect-ratio: var(--poster-aspect-ratio);
	border-radius: var(--border-radius);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
