.schedule {
	padding: 24px 8px;
}

.schedule .days {
	display: flex;
	align-items: flex-start;
}

.schedule .days .day {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	margin-bottom: 24px;
}

.schedule .days .day .container {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 16px 20px;
	border-radius: var(--border-radius);
}

.schedule .days .day .container.active {
	background-color: rgba(47, 128, 237, 0.15);
}

.schedule .days .day .container .header {
	display: flex;
	align-items: center;
	text-transform: capitalize;
}

.schedule .days .day .container .header h1 {
	color: var(--text-secondary);
	white-space: nowrap;
	margin: 0;
}

.schedule .days .day .container.active .header h1 {
	color: var(--text-primary);
}

.schedule .days .day button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	width: 30px;
	height: 30px;
	border: none;
	margin: 0;
	background-color: transparent;
	font-size: 2em;
	margin-left: auto;
	visibility: hidden;
}

.schedule[data-editing='on'] .days .day:hover button {
	visibility: visible;
}

.schedule button.edit {
	position: fixed;
	left: 74px;
	bottom: 24px;
	background-color: var(--background-secondary);
}

@media screen and (max-width: 1024px) {
	.schedule .days {
		flex-wrap: wrap;
	}

	.schedule .days .day {
		flex-basis: initial;
	}
}

/* @media screen and (max-width: 1280px) {
	.schedule {
		padding: 24px 32px;
	}

	.schedule .days {
		flex-direction: column;
	}

	.schedule .days .day .container {
		flex-direction: row;
	}

	.schedule .days .day .container h1 {
		width: 50px;
		display: flex;
		align-items: center;
		font-size: 1.5em;
		margin: 0 32px 0 0;
	}

	.schedule .days .day .container .series {
		margin: 0 48px 0 0;
	}
} */
