* {
	box-sizing: border-box;
}
*:focus {
	outline: none;
}

/* background-light is for: input, menu popover */
/* foreground is for: contrast buttons */

:root {
	--background: #fff;
	--background-secondary: #ddd;
	--background-light: rgba(0, 0, 0, 0.05);
	--border: rgba(0, 0, 0, 0.15);

	--foreground: #1b262c;
	--text-primary: #1b262c;
	--text-secondary: rgba(0, 0, 0, 0.65);
	--text-contrast: #fff;

	--color-primary: #2f80ed;
	--color-green: rgba(33, 150, 83);
	--color-light-green: rgba(33, 150, 83, 0.15);
	--color-red: rgba(235, 87, 87);
	--color-light-red: rgba(235, 87, 87, 0.15);

	--poster-aspect-ratio: 225 / 315;
	--explorer-item-height: 35px;
	--border-radius: 2px;
}

[data-theme='dark'] {
	--background: #25292d;
	--background-secondary: #191c1f;
	--background-light: rgba(255, 255, 255, 0.1);
	--border: rgba(255, 255, 255, 0.15);

	--foreground: #fff;
	--text-primary: #fff;
	--text-secondary: rgba(255, 255, 255, 0.65);
	--text-contrast: #1b262c;
}

body {
	margin: 0;
	color: var(--text-primary);
	font-size: small;
	line-height: 1.5;
	letter-spacing: 0px;
	word-break: break-word;
}

body,
input,
textarea,
select,
button {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	font-weight: normal;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #454c53;
}

/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type='search']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

input[type='checkbox'],
select {
	cursor: pointer;
}

input,
table,
textarea,
select {
	width: 100%;
	border-radius: var(--border-radius);
	color: var(--text-primary);
	border: 1px solid var(--border);
	background-color: var(--background-light);
}

input,
textarea,
select {
	display: block;
	padding: 8px 16px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
}

select option {
	color: #222;
}

p {
	margin: 0;
}

a {
	color: var(--text-primary);
	text-decoration: none;
}
