.edit {
	max-width: 768px;
}

.edit h2 {
	margin-bottom: 24px;
}

.edit table {
	border-collapse: collapse;
	border-radius: var(--border-radius);
	width: 100%;
}

.edit th,
.edit td {
	border: 1px solid var(--border);
}

.edit table th {
	padding: 0 12px;
	text-align: left;
	font-weight: normal;
}

.edit table input {
	border-radius: 0;
	background-color: transparent;
	border: none;
}

.edit form > div {
	margin-bottom: 24px;
}

.edit .group {
	display: flex;
	align-items: flex-start;
}

.edit .group > div {
	flex: 1;
}

.edit .group > div:last-child {
	margin-left: 16px;
}
