.addSeries {
	width: 300px;
}

.addSeries input {
	margin-bottom: 8px;
}

.addSeries ul li {
	position: relative;
	padding: 8px 16px;
	cursor: pointer;
}

.addSeries ul li::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.addSeries ul li:hover::before {
	background-color: var(--background-light);
}

.addSeries ul li:last-child {
	margin: 0;
}

.addSeries .suggestions {
	height: 200px;
	overflow-y: scroll;
}
