.root input {
	margin-bottom: 8px;
}

.root ul li {
	position: relative;
	padding: 8px 16px;
	cursor: pointer;
}

.root ul li::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.root ul li:hover::before {
	background-color: var(--background-light);
}

.root ul li:last-child {
	margin: 0;
}
