.batchEdit {
	display: flex;
	align-items: center;
	justify-content: center;
}

.batchEdit input[type='checkbox'] {
	height: 33px;
	width: 33px;
	margin: 0;
}

.batchEdit .center {
	max-width: 800px;
}

.batchEdit table {
	border-collapse: collapse;
	margin: 24px 0;
	border-radius: var(--border-radius);
	width: 100%;
}

.batchEdit table th,
.batchEdit table td {
	border: 1px solid var(--border);
	position: relative;
}

.batchEdit table button {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0 12px;
	background-color: transparent;
	border: none;
	border-left: 1px solid var(--border);
}

.batchEdit table td:hover button {
	display: block;
}

.batchEdit h1 {
	text-align: center;
}

.batchEdit table th {
	padding: 0 12px;
	text-align: left;
	font-weight: normal;
}

.batchEdit table input {
	border-radius: 0;
	background-color: transparent;
	border: none;
}

.batchEdit .labeledInput {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}

.batchEdit .labeledInput .label {
	font-size: 1.1em;
	margin-bottom: 8px;
	white-space: nowrap;
}

.batchEdit .inputsGroup {
	display: flex;
	margin-bottom: 24px;
}

.batchEdit .inputsGroup > div {
	flex-grow: 1;
	margin: 0 16px 0 0;
}

.batchEdit .inputsGroup > div:last-child {
	margin: 0;
}

.batchEdit .inputsGroup .inputGroup {
	display: flex;
	position: relative;
}

.batchEdit .inputsGroup .inputGroup button {
	padding: 0 12px;
	background-color: var(--background-light);
	border: 1px solid var(--border);
	border-left: none;
	white-space: nowrap;
}

.batchEdit .inputsGroup .inputGroup button.all {
	position: absolute;
	background-color: transparent;
	border: none;
	border-left: 1px solid var(--border);
	top: 50%;
	transform: translateY(-50%);
	right: 45px;
	height: 100%;
	display: none;
}

.batchEdit .inputsGroup .inputGroup:hover button.all {
	display: block;
}

.batchEdit .inputsGroup ul {
	margin-top: 12px;
}

.batchEdit .inputsGroup ul li {
	cursor: pointer;
	user-select: none;
	position: relative;
	display: inline-block;
	background-color: var(--background-secondary);
	border-radius: var(--border-radius);
	padding: 2px 16px;
	margin: 0 8px 8px 0;
}

.batchEdit .inputsGroup ul li::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.batchEdit .inputsGroup ul li:hover::before {
	background-color: var(--background-light);
}
