.stockpile {
	width: 100%;
	max-width: 1024px;
}

.stockpile .chart {
	display: flex;
	margin-bottom: 24px;
	align-items: center;
}

.stockpile .chart .doughnut {
	flex: 0 0 250px;
	margin-left: 32px;
	text-align: center;
}

.stockpile .chart .bar {
	flex: 1;
}

.stockpile .totals {
	display: flex;
	justify-content: space-around;
	margin: 0 282px 40px 0;
}

.stockpile .totals .number {
	font-size: 3em;
	text-align: center;
}

.stockpile .totals .text {
	font-size: 1.2em;
	text-align: center;
	color: var(--text-secondary);
}
