.root {
	max-width: 768px;
}

.root input.regular {
	width: 25px;
	height: 25px;
}

.root table {
	border-collapse: collapse;
	margin: 24px 0;
	border-radius: var(--border-radius);
	width: 100%;
}

.root th,
.root td {
	border: 1px solid var(--border);
}

.root table th {
	padding: 0 16px;
	text-align: left;
	font-weight: normal;
}

.root table input {
	border-radius: 0;
	background-color: transparent;
	border: none;
}

.root textarea {
	height: 100px;
	resize: none;
	line-height: 1.5;
	margin-bottom: 16px;
}

.root .labeledInput {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}

.root .label {
	font-size: 1.1em;
	margin-bottom: 8px;
}

.root .tags input {
	width: calc(33% - 8px);
}

.root .tags ul {
	margin-top: 12px;
}

.root .tags li {
	cursor: pointer;
	user-select: none;
	position: relative;
	display: inline-block;
	background-color: var(--background-secondary);
	border-radius: var(--border-radius);
	padding: 2px 16px;
	margin: 0 8px 8px 0;
}

.root .tags li::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.root .tags li:hover::before {
	background-color: var(--background-light);
}

.root .relations .relationInput {
	display: flex;
	position: relative;
}

.root .relations .relationInput select.relationType {
	width: initial;
	display: flex;
	align-items: center;
	margin-left: 8px;
}

.root .relations .relationInput .seriesPopover {
	position: absolute;
	z-index: 10;
	top: 50px;
	left: 0;
	min-width: 350px;
	min-height: 100px;
	background-color: var(--background-secondary);
	border: 1px solid var(--border);
	display: none;
	border-radius: var(--border-radius);
	padding: 8px 0;
	user-select: none;
}

.root .relations .relationInput .seriesPopover.active {
	display: block;
}

.root .relations .relationInput .seriesPopover li {
	padding: 4px 16px;
	cursor: pointer;
	position: relative;
}

.root .relations .relationInput .seriesPopover li::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.root .relations .relationInput .seriesPopover li:hover::before {
	background-color: var(--background-light);
}

.root .relations input {
	width: calc(33% - 8px);
}

.root .relations ul.titles {
	margin-top: 12px;
}

.root .relations .titles li > div {
	position: relative;
	display: inline-flex;
	cursor: pointer;
	background-color: var(--background-light);
	border-radius: var(--border-radius);
	text-transform: capitalize;
	margin-bottom: 8px;
}

.root .relations .titles li > div::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.root .relations .titles li > div:hover::before {
	background-color: var(--background-light);
}

.root .relations .titles li .relatedType {
	background-color: var(--background-light);
	border-radius: var(--border-radius);
	padding: 8px 16px;
}

.root .relations .titles li .relatedType {
	background-color: var(--background-light);
	border-radius: var(--border-radius);
	padding: 8px 16px;
}

.root .relations .titles li .relatedName {
	padding: 8px 16px;
}

.root .numberInputs {
	display: flex;
	margin-bottom: 24px;
}

.root .numberInputs > div {
	flex-grow: 1;
	margin: 0 16px 0 0;
}

.root .numberInputs > div:last-child {
	margin: 0;
}

.root button {
	background-color: var(--background-secondary);
	border-radius: var(--border-radius);
	border: none;
	padding: 8px 16px;
	margin-right: 8px;
}

.root button.save {
	background-color: var(--color-primary);
	color: #fff;
}
