.root {
	max-width: 768px;
}

.root input,
table,
textarea {
	border: 1px solid rgba(255, 255, 255, 0.15);
	background-color: rgba(255, 255, 255, 0.05);
}

.root input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.root input {
	display: block;
	border-radius: 4px;
	padding: 8px 16px;
	color: #fff;
	width: 100%;
}

.root input.title {
	width: 400px;
}

.root table {
	border-collapse: collapse;
	margin: 24px 0;
	border-radius: 4px;
	width: 100%;
}

.root th,
.root td {
	border: 1px solid rgba(255, 255, 255, 0.15);
}

.root table th {
	padding: 0 16px;
	text-align: left;
	font-weight: normal;
}

.root table input {
	width: 100%;
	margin: 0;
	border-radius: 0;
	background-color: transparent;
	border: none;
}

.root textarea {
	width: 100%;
	height: 100px;
	resize: none;
	color: #fff;
	padding: 16px;
	line-height: 1.5;
	border-radius: 4px;
	margin-bottom: 16px;
}

.root .labeledInput {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}

.root .label {
	font-size: 1.1em;
	margin-bottom: 8px;
}

.root .tags input {
	width: calc(33% - 8px);
}

.root .tags ul {
	margin-top: 12px;
}

.root .tags li {
	cursor: pointer;
	user-select: none;
	position: relative;
	display: inline-block;
	background-color: #fff;
	color: #333;
	border-radius: 4px;
	padding: 2px 16px;
	margin-right: 8px;
}

.root .tags li::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.root .tags li:hover::before {
	background-color: rgba(0, 0, 0, 0.15);
}

.root .relations .relationInput {
	display: flex;
	position: relative;
}

.root .relations .relationInput .relationType {
	display: flex;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.15);
	align-items: center;
	padding: 8px 16px;
	border-radius: 4px;
	margin-left: 8px;
}

.root .relations .relationInput .relationType option {
	color: #333;
}

.root .relations .relationInput .seriesPopover {
	position: absolute;
	z-index: 10;
	top: 50px;
	left: 0;
	min-width: 350px;
	min-height: 100px;
	background-color: #303337;
	border: 1px solid rgba(255, 255, 255, 0.15);
	display: none;
	border-radius: 4px;
	padding: 8px 0;
	user-select: none;
}

.root .relations .relationInput .seriesPopover.active {
	display: block;
}

.root .relations .relationInput .seriesPopover li {
	padding: 4px 16px;
	cursor: pointer;
	position: relative;
}

.root .relations .relationInput .seriesPopover li::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.root .relations .relationInput .seriesPopover li:hover::before {
	background-color: rgba(255, 255, 255, 0.05);
}

.root .relations input {
	width: calc(33% - 8px);
}

.root .relations ul.titles {
	margin-top: 12px;
}

.root .relations .titles li > div {
	position: relative;
	display: inline-flex;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 4px;
	text-transform: capitalize;
	margin-bottom: 8px;
	color: #fff;
}

.root .relations .titles li > div::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.root .relations .titles li > div:hover::before {
	background-color: rgba(255, 255, 255, 0.05);
}

.root .relations .titles li .relatedType {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 4px;
	padding: 8px 16px;
}

.root .relations .titles li .relatedType {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 4px;
	padding: 8px 16px;
}

.root .relations .titles li .relatedName {
	padding: 8px 16px;
}

.root .numberInputs {
	display: flex;
}

.root .numberInputs > div {
	margin: 0 16px 0 0;
}

.root .numberInputs > div:last-child {
	margin: 0;
}

.root button {
	background-color: rgba(255, 255, 255, 0.15);
	color: #fff;
	border-radius: 4px;
	border: none;
	padding: 8px 16px;
	margin-right: 8px;
}

.root button.save {
	background-color: #2f80ed;
}
