.right {
	display: flex;
	flex-direction: column;
	background-color: var(--background-secondary);
	padding: 0 1px;
	position: relative;
}

.right .toolBar {
	display: flex;
	position: relative;
	border-bottom: 1px solid var(--background-secondary);
	background-color: var(--background);
	flex: 0 0 var(--explorer-item-height);
}

.right .toolBar > div {
	display: flex;
	align-items: center;
}

.right .toolBar > div:first-child {
	width: 100%;
}

.right .toolBar input.search,
.right .toolBar select {
	width: 100%;
	height: 100%;
	padding: 0 16px;
	background-color: transparent;
	border: none;
}

.right .toolBar .icon {
	cursor: pointer;
	font-size: 1.5em;
	margin-right: 8px;
}

.right .toolBar .icon.active {
	color: var(--color-primary);
}

.right .toolBar .descending {
	transform: rotate(180deg);
}

.right .advancedFilter {
	position: absolute;
	top: var(--explorer-item-height);
	bottom: var(--explorer-item-height);
	left: 0;
	right: 0;
	display: none;
	padding: 16px;
	padding-top: 40px;
	background-color: var(--background-secondary);
	text-align: center;
}

.right .advancedFilter.open {
	display: block;
}

.right .advancedFilter .inputGroup {
	display: flex;
	align-items: center;
	height: var(--explorer-item-height);
	text-align: right;
}

.right .advancedFilter .inputGroup div:nth-child(1) {
	width: 35%;
	padding-right: 8px;
}

.right .advancedFilter .inputGroup div:nth-child(2) {
	width: 65%;
	display: flex;
}

.right .advancedFilter .inputGroup input,
.right .advancedFilter .inputGroup select,
.right .advancedFilter .inputGroup textarea {
	padding: 4px 8px;
	max-width: 150px;
}

.right .advancedFilter .inputGroup div:nth-child(2) select {
	width: initial;
	margin-right: 8px;
	display: inline-block;
}

.right .advancedFilter .inputGroup div:nth-child(2) input[type='number'] {
	width: 45px;
	display: inline-block;
	margin: 0;
}

.right .advancedFilter .actions {
	margin-top: 24px;
}

.right .advancedFilter .actions button {
	background-color: var(--background);
	border-radius: var(--border-radius);
	border: none;
	padding: 8px 16px;
	margin-right: 8px;
}

.right .advancedFilter .actions button.apply {
	background-color: var(--color-primary);
	color: #fff;
}

.right .advancedFilter .actions button.remove {
	background-color: var(--color-red);
	color: #fff;
}

.right .titles {
	overflow-y: auto;
	flex: 1;
}

.right .titles li {
	height: var(--explorer-item-height);
	display: flex;
	align-items: center;
	padding: 0 16px;
	border: 1px solid transparent;
	cursor: pointer;
	user-select: none;
}

.right .titles li:hover {
	background-color: var(--background-light);
}

.right .titles li.active {
	background-color: var(--background-light);
	border-color: var(--border);
}

.right .titles li > span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.right .matches {
	display: flex;
	align-items: center;
	padding: 0 16px;
	margin-top: auto;
	background-color: var(--background);
	flex: 0 0 var(--explorer-item-height);
}
