.root .container {
	display: flex;
	margin-bottom: 40px;
}

.root .container .poster {
	cursor: pointer;
	width: 225px;
	height: 315px;
	border-radius: var(--border-radius);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-color: var(--background-secondary);
}

.root .container .poster button {
	position: absolute;
	z-index: 10;
	bottom: 8px;
	right: 8px;
	display: none;
	width: 32px;
	height: 32px;
	background-color: var(--color-primary);
	color: #fff;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
	border: none;
	font-size: 1.4em;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
}

.root .container .poster:hover button {
	display: flex;
}

.root .container .poster button::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.root .container .poster button:hover::before {
	background-color: rgba(0, 0, 0, 0.1);
}

.root .container .detail {
	padding: 0 32px;
	width: calc(100% - 225px);
}

.root .container .detail .actions {
	margin-bottom: 16px;
}

.root .container .detail .actions button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: none;
	border-radius: var(--border-radius);
	color: #fff;
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	margin-right: 8px;
	font-size: 1.2em;
}

.root .container .detail .actions button::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.root .container .detail .actions button:hover::before {
	background-color: rgba(0, 0, 0, 0.1);
}

.root .container .detail h1 {
	line-height: 1.2;
	margin-bottom: 8px;
}

.root .container .detail .watchInfo {
	display: flex;
	margin-bottom: 16px;
}

.root .container .detail .watchInfo button {
	background-color: var(--color-green);
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border: none;
	padding: 0;
	border-radius: var(--border-radius);
	margin-right: 8px;
}

.root .container .detail .watchInfo .watchedInfo {
	margin-right: 24px;
}

.root .container .detail .tags {
	margin-bottom: 8px;
}

.root .container .detail .tags li {
	cursor: pointer;
	user-select: none;
	position: relative;
	display: inline-block;
	padding: 2px 8px;
	margin: 0 8px 8px 0;
	color: var(--text-primary);
	background-color: var(--background-secondary);
	border-radius: var(--border-radius);
	text-transform: capitalize;
}

.root .container .detail .tags li::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.root .container .detail .tags li:hover::before {
	background-color: var(--background-light);
}

.root .container .detail .additionalInfo ul {
	display: grid;
	grid-template-columns: auto auto;
	gap: 4px 24px;
}

.root .container .detail .additionalInfo ul li.irregular {
	color: var(--color-primary);
}

.root .notes {
	padding: 8px 24px;
	margin-bottom: 32px;
}

.root .related {
	background-color: var(--background-secondary);
	border-radius: var(--border-radius);
	margin-bottom: 32px;
}

.root .related .showToggler {
	cursor: pointer;
	user-select: none;
	position: relative;
	display: flex;
	font-size: larger;
	padding: 8px 24px 8px 20px;
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	color: #fff;
}

.root .related .showToggler::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.root .related .showToggler:hover::before {
	background-color: rgba(0, 0, 0, 0.1);
}

.root .related .showToggler svg {
	transform: rotate(180deg);
	font-size: 1.5em;
	margin-right: 4px;
}

.root .related.active .showToggler svg {
	transform: rotate(0deg);
}

.root .related .titles {
	padding: 24px;
	display: none;
}

.root .related .titles li {
	margin-bottom: 8px;
	text-transform: capitalize;
}

.root .related .titles li:last-child {
	margin-bottom: 0;
}

.root .related .titles li a:hover {
	text-decoration: underline;
}

.root .related.active .titles {
	display: block;
}

.root .episodes .showAllToggler {
	display: flex;
	align-items: center;
	font-size: 1.1em;
	margin-bottom: 24px;
	background-color: var(--background-secondary);
	position: relative;
	padding: 8px 16px;
	border: none;
	border-radius: var(--border-radius);
}

.root .episodes .showAllToggler::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: var(--border-radius);
	background-color: transparent;
}

.root .episodes .showAllToggler:hover::before {
	background-color: var(--background-light);
}

.root .episodes .showAllToggler svg {
	font-size: 1.2em;
	margin-right: 8px;
}

.root .episodes ul {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 20px 30px;
}

.root .episodes li div {
	display: inline-flex;
	cursor: pointer;
	text-align: left;
}

.root .episodes li div:hover {
	text-decoration: underline;
}
