.left {
	display: flex;
	flex-direction: column;
	user-select: none;
}

.left li {
	display: flex;
	height: 35px;
	padding: 0 16px;
	align-items: center;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.left li::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 4px;
	background-color: transparent;
}

.left li::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: transparent;
}

.left li:hover::after {
	background-color: var(--background-light);
}

.left li.active {
	background-color: var(--color-light-green);
}

.left li.active::before {
	background-color: var(--color-green);
}

.left li.disabled {
	background-color: var(--color-light-red);
}

.left li.disabled::before {
	background-color: var(--color-red);
}

.left li .grow {
	flex-grow: 1;
}

.left li span {
	color: var(--text-secondary);
}

.left .clear {
	display: flex;
	align-items: center;
	padding: 0 16px;
	height: 35px;
	border-bottom: 1px solid var(--background-secondary);
}

.left .clear button {
	display: inline-flex;
	align-items: flex-end;
	color: var(--text-primary);
	background-color: transparent;
	border: none;
	padding: 0;
}

.left .genres {
	overflow-y: auto;
	height: calc(100% - 35px);
}

.left .icon {
	font-size: 1.3em;
	margin-right: 4px;
}
